.movie{
  position: relative;
  height: 470px;
  width: 280px;
  display: inline-block;
  border-radius: 13px;
  box-shadow: 0px 17px 46px 1px #00000052;
  margin: 30px;
  overflow: hidden;
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: red
  }
  &.movie--active{
    .movie__content{
      overflow: scroll;
    }
  }
  &.movie--mosaic{
    transform: translateY(30%);
  }
  &.movie--color-1{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #fa6896ba 0%, #fa6896 41%, #fa6896 100%);
        background: -webkit-linear-gradient(top, #fa6896ba 0%,#fa6896 41%,#fa6896 100%);
        background: linear-gradient(to bottom, #fa6896ba 0%,#fa6896 41%,#fa6896 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#fa6896',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #fa6896e0 41%, #fa6896 100%);
      }
    }

  }
  &.movie--color-2{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #8b3eaaba 0%, #8b3eaa 41%, #8b3eaa 100%);
        background: -webkit-linear-gradient(top, #8b3eaaba 0%,#8b3eaa 41%,#8b3eaa 100%);
        background: linear-gradient(to bottom, #8b3eaaba 0%,#8b3eaa 41%,#8b3eaa 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#8b3eaa',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #8b3eaae0 41%, #8b3eaa 100%);
      }
    }

  }
  &.movie--color-3{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #c65bb6ba 0%, #c65bb6 41%, #c65bb6 100%);
        background: -webkit-linear-gradient(top, #c65bb6ba 0%,#c65bb6 41%,#c65bb6 100%);
        background: linear-gradient(to bottom, #c65bb6ba 0%,#c65bb6 41%,#c65bb6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#c65bb6',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #c65bb6e0 41%, #c65bb6 100%);
      }
    }

  }
  &.movie--color-4{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #bc83b3ba 0%, #bc83b3 41%, #bc83b3 100%);
        background: -webkit-linear-gradient(top, #bc83b3ba 0%,#bc83b3 41%,#bc83b3 100%);
        background: linear-gradient(to bottom, #bc83b3ba 0%,#bc83b3 41%,#bc83b3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#bc83b3',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #bc83b3e0 41%, #bc83b3 100%);
      }
    }

  }
  &.movie--color-5{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #9c4969ba 0%, #9c4969 41%, #9c4969 100%);
        background: -webkit-linear-gradient(top, #9c4969ba 0%,#9c4969 41%,#9c4969 100%);
        background: linear-gradient(to bottom, #9c4969ba 0%,#9c4969 41%,#9c4969 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#9c4969',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #9c4969e0 41%, #9c4969 100%);
      }
    }

  }
  &.movie--color-6{
    .movie__bg{
      &:after{
        background: -moz-linear-gradient(top, #1d2941ba 0%, #1d2941 41%, #1d2941 100%);
        background: -webkit-linear-gradient(top, #1d2941ba 0%,#1d2941 41%,#1d2941 100%);
        background: linear-gradient(to bottom, #1d2941ba 0%,#1d2941 41%,#1d2941 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8fa6896', endColorstr='#1d2941',GradientType=0 );
      }
    }
    .movie__content{
      .movie__body{
        background: linear-gradient(to bottom, rgba(250, 104, 150, 0) 0%, #1d2941e0 41%, #1d2941 100%);
      }
    }

  }
  .movie__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    >img{
      position: absolute;
      width: 130%;
      right: 0;
      top: 0;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .movie__content{
    overflow: hidden;
    position: relative;
    height: 100%;
    .movie__header{
      text-align: right;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    .movie__body{
      text-align: center;
      margin: 55px 0 0px;
      .movie__body__title{
        position: relative;
        color: #fbfefe;
        font-family: 'Roboto Condensed', serif;
        margin: 0;
        font-size: 24px;
        line-height: 30px;
      }
      .movie__body__metadata{
        position: relative;
        color: white;
        >p{
          font-family: 'Roboto Condensed', serif;
          font-weight: 100;
          font-size: 14px;
          margin: 0;
        }
      }
      .movie__body__img{
        position: relative;
        width: 92%;
        border-radius: 5px;
        margin: 30px 0 20px;
        box-shadow: 0 7px 7px -4px #0000009e;
      }
    }
    .movie__comments{
      position: relative;
      margin: 10px 25px;
      border-radius: 14px;
      background-color: #7d1e6e;
      box-sizing: border-box;
      padding: 6px 14px;
      .movie__comments__title{
        padding: 0 0 6px 0;
        box-sizing: border-box;
        margin: 0;
        border-bottom: 1px solid #e2e2e2;
        color: #e2e2e2;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
      }
      .movie__comments__unique{
        >p{
          font-size: 12px;
          color: #e2e2e2;
          margin: 15px 0 1px;
        }
      }
    }
  }
  .movie__stars{
    z-index: 2;
    position: relative;
    >span{
      color: white;
      margin-left: 8px;
    }
    >i{
      color: #ffeb86;
    }
  }
}
